.slidertext{
    color: black;
}
.disp{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.hotprod{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

.card{
    margin: 25px;
    padding: 20px;
}
.card-img-top{
    width: 250px;
    height: 200px;
}
.card-img-top:hover{
    width: 350px;
    height: 300px;
}
.btn:hover{
    font-size: 30px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
footer{
    background-color:rgba(0, 0, 0, 0.931);
    color:white;
    text-align: center;
}
.foot1,foot2,.foot3{
    margin-left: 70px;
    margin-right: 70px;
    padding-left: 40px;
    padding-right: 40px;
}
li{
    list-style-type: none;
}
li a{
    text-decoration: none;
}

/* buying guide */
.buyingguide{
    border: solid black 2px;
    margin:40px;
    border-radius:20px;
    box-shadow: 5px 10px;
}
.buyhead{
    font-size: 50px;
    text-align:center;
    text-decoration: underline;
}
.buyingform{
    margin:30px;
}
.btn1{
    margin-left: 450px;
    margin-right: 300px;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius:  20px;
}
.btn1:hover{
    font-size:  30px;
    margin-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius:  20px;
}
