{% extends 'core/base.html' %}

{% load static %}

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heist Care | About Us</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
{% endblock head %}




{% block body %}
    <div class="aboutcont">
        <p class="abthead1">About Us</p>
        <p class="abthead2">Welcome to the disruptive site to empower user to make informed choice to buy exact product at best price.</p>
        <p class="abthead3">So you may curious to know how our site gonna work.So here we go......</p>
        <p class="abthead4">We know how tedious and time taking  it is to search for your desired product and to get best possible choice. We understood this problem and come with an innovative solution <b>Hiest Compare</b> it's an web application through which you'll just search for the product let's say Apple Macbook M1 air it'll show you same product from different sites(like Amazon,Flipkart etc).Now user have a ball in it's area to make informed decison with best value.On top of that we also provide Hot product link and buying guide to embrace good buying decision.</p>
        <ul>
            <li>Our Team </li>
            <li>Anuj Rajaram Jadhav</li>
            <li>Vikas Kumar Gond</li>
            <li>Pulkit Kumar Agarwal</li>
            <li>Shivam Kumar</li>
        </ul>
    </div>
    {% endblock body %}
