{% extends 'core/base.html' %}

{% load static %}

{% block head %}
<title>Heist Compare | Contact</title>
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock head %}



{% block body %}
<div class="container">
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}

  <div class="contact1">
    <div class="contact-title1">
      <p style="font-size: 50px;text-decoration: underline;">Contact Us</p>
      <h1 class="h1">Feel Free to Contact Us</h1>
      <h2 class="h2">We are always ready to serve you </h2>
    </div>
    <div class="contact-form1">
      <form method="post" action="">
      {% csrf_token %}
        <input name="name" type="text" class="form-control1" placeholder="Your Name" required> <br>
        <input name="email" type="email" class="form-control1" placeholder="Your Email" required><br>
        <textarea name="message" id="" cols="60" rows="10" placeholder="Message" required></textarea> <br>
        <input type="submit" class="form-control1 submit1" value="SEND MESSAGE">
      </form>
    </div>
  </div>
</div>
{% endblock body %}
