
{% extends 'core/base.html' %}

{% load static %}

{% block head %}
    <title>Heist Compare | Video</title>
{% endblock head %}


{% block body %}

<section class="gallery">
  <div class="container">
    <div class="row">
      <div class="gallery-filter">
        <span class="filter-item active" data-filter="all">All</span>
        <span class="filter-item" data-filter="smartphone">Smart Phone</span>
        <span class="filter-item" data-filter="laptop">Laptop</span>
        <span class="filter-item" data-filter="watch"> Smart Watch</span>
        <span class="filter-item" data-filter="headphone">headphone</span>
        <span class="filter-item" data-filter="camera">camera</span>
      </div>
    </div>
    <div class="row">
      <!-- gallery item start -->
      <div class="gallery-item smartphone">
        <div class="gallery-item-inner">
            <iframe width="370" height="245" src="https://www.youtube.com/embed/3fkyMb_gdY8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <!-- gallery item end -->
     
      <!-- gallery item start -->
      <div class="gallery-item smartphone">
        <div class="gallery-item-inner">
            <iframe width="370" height="245" src="https://www.youtube.com/embed/teTF40VK9ak" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <!-- gallery item end -->
 <!-- gallery item start -->
 <div class="gallery-item smartphone">
    <div class="gallery-item-inner">
        <iframe width="370" height="245" src="https://www.youtube.com/embed/gA3mM2w2hRg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <!-- gallery item end -->
 <!-- gallery item start -->
 <div class="gallery-item laptop">
    <div class="gallery-item-inner">
        <iframe width="370" height="245" src="https://www.youtube.com/embed/wbmdsT0gEng" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <!-- gallery item end -->
  <div class="gallery-item laptop">
    <div class="gallery-item-inner">
        <iframe width="370" height="245" src="https://www.youtube.com/embed/TquXckkgrH0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <!-- gallery item end --><div class="gallery-item laptop">
    <div class="gallery-item-inner">
        <iframe width="370" height="245" src="https://www.youtube.com/embed/gYFOxpT5DgA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <!-- gallery item end -->
      <!-- gallery item start -->
      <div class="gallery-item headphone">
        <div class="gallery-item-inner">
            <iframe width="370" height="245" src="https://www.youtube.com/embed/BzsljmKrfM0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <!-- gallery item end -->
      <!-- gallery item start -->
      <div class="gallery-item camera">
        <div class="gallery-item-inner">
            <iframe width="370" height="245" src="https://www.youtube.com/embed/Arimn6fD2Fo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <!-- gallery item end -->
      <!-- gallery item start -->
      <div class="gallery-item headphone">
        <div class="gallery-item-inner">
            <iframe width="370" height="245" src="https://www.youtube.com/embed/ARVdsunQwik" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="gallery-item headphone">
        <div class="gallery-item-inner">
            <iframe width="370" height="245" src="https://www.youtube.com/embed/bInJjmH31Hk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <!-- gallery item end -->
      <!-- gallery item start -->
      <div class="gallery-item camera">
        <div class="gallery-item-inner">
            <iframe width="370" height="245" src="https://www.youtube.com/embed/qu8BnEvtfOA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="gallery-item camera">
        <div class="gallery-item-inner">
            <iframe width="370" height="245" src="https://www.youtube.com/embed/ZPDGLxZQIMc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>


            <div class="gallery-item watch">
                <div class="gallery-item-inner">
                    <iframe width="370" height="245" src="https://www.youtube.com/embed/FiwyOoROXKg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
              <!-- gallery item start -->
              <div class="gallery-item watch">
                <div class="gallery-item-inner">
                    <iframe width="370" height="245" src="https://www.youtube.com/embed/rWT3WjJkEaI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
              <!-- gallery item end -->
              <!-- gallery item start -->
              <div class="gallery-item watch">
                <div class="gallery-item-inner">
                    <iframe width="370" height="245" src="https://www.youtube.com/embed/J65VhUtsjw0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
              <!-- gallery item end -->
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script>
const filterContainer = document.querySelector(".gallery-filter"),
 galleryItems = document.querySelectorAll(".gallery-item");

 filterContainer.addEventListener("click", (event) =>{
   if(event.target.classList.contains("filter-item")){
     // deactivate existing active 'filter-item'
     filterContainer.querySelector(".active").classList.remove("active");
     // activate new 'filter-item'
     event.target.classList.add("active");
     const filterValue = event.target.getAttribute("data-filter");
     galleryItems.forEach((item) =>{
       if(item.classList.contains(filterValue) || filterValue === 'all'){
        item.classList.remove("hide");
         item.classList.add("show");
       }
       else{
        item.classList.remove("show");
        item.classList.add("hide");
       }
     });
   }
 });
 </script>
{% endblock body %}
