.contact1{
    margin-top: 20px;
    text-align:center;
    border: 3px solid black;
    padding: 20px;
}
.contact-title1{
    margin-top: 100px;
    text-transform: uppercase;
}
 .h1{
    font-size: 40px;

}
 .h2{
    font-size: 16px;
}
.form-control1{
    width: 600px;
    font-size: 25px;
    margin-bottom: 16px;
}
 .submit1{
     background:lightgreen;
     color: #fff;
     font-size: 20px;
     font-weight: bold;
     letter-spacing: 2px;
     height: 50px;
     margin-top: 20px;
 }
