.contact1{
    text-align:center;
    border: 3px solid black;
}
.contact-title1{
    margin-top: 100px;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.contact-title1 h1{
    font-size: 40px;

}
.contact-title1 h1{
    font-size: 16px;
}

form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.form-control{
    width: 600px;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    background-color:lightgreen;
    font-size: 10px;
    margin-bottom: 16px;
}
 input{
     height:45px;
 }
 form .submit{
     background:#ff5722;
     border-color: transparent;
     color: #fff;
     font-size: 20px;
     font-weight: bold;
     letter-spacing: 2px;
     height: 50px;
     margin-top: 20px;
 }
