.slidertext{
    color: black;
}
.disp{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.hotprod{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

.card{
    margin: 25px;
    padding: 20px;
}
.card-img-top{
    width: 250px;
    height: 200px;
}
.card-img-top:hover{
    width: 350px;
    height: 300px;
}
/* .btn:hover{
    font-size: 30px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
} */
footer{
    background-color:rgba(0, 0, 0, 0.931);
    color:white;
    text-align: center;
}
.foot1,foot2,.foot3{
    margin-left: 70px;
    margin-right: 70px;
    padding-left: 40px;
    padding-right: 40px;
}
li{
    list-style-type: none;
}
li a{
    text-decoration: none;
}

/* buying guide */
.buyingguide{
    border: solid black 2px;
    margin:40px;
    border-radius:20px;
    box-shadow: 5px 10px;
}
.buyhead{
    font-size: 50px;
    text-align:center;
    text-decoration: underline;
}
.buyingform{
    margin:30px;
}
.btn1{
    margin: auto;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius:  20px;
}
.btn1:hover{
    font-size:  30px;
    background-color: #49BC3C;
    border-radius:  20px;
}

.compimg{
    width: 600px;
    height: 400px;
}


/* company img  */
.ecomsites{
    border: 3px solid purple;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 50px;
    border-radius: 20px;

}
.ecomhead2{
    font: size 50px;
    font-weight: bold;
    text-align: center;
}
.ecomimg{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.ecom1{
    width: 240px;
    height: 200px;
    border:2px solid black;
    margin: 40px;
    border-radius: 60px;
}
